[core]
	pager = less -F -X
[rebase]
	autoStash = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[rerere]
	enabled = true
	autoUpdate = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
	conflictstyle = zdiff3
[branch]
	sort = committerdate
