[credential]
	helper = "osxkeychain "
[core]
  pager = less -F -X
[merge]
	conflictstyle = diff3
[rebase]
	autoStash = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	useConfigOnly = true
[user "github"]
	name = Martin-Louis Bright
	email = mlbright@gmail.com
	signingkey = 84BD83A4E4847F3
[alias]
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
