[credential]
	helper = "osxkeychain "
[core]
    pager = less -F -X
	excludesfile = /Users/brightm/.gitignore_global
[merge]
	conflictstyle = diff3
[rebase]
	autoStash = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@git.autodesk.com:"]
	insteadOf = https://git.autodesk.com/
[user]
	useConfigOnly = true
	email = mlbright@gmail.com
	name = Martin-Louis Bright
[user "ghes"]
	signingkey = B609F8CBB75B0E61
	name = Martin-Louis Bright
	email = martin.louis.bright@autodesk.com
# https://www.micah.soy/posts/setting-up-git-identities/
# https://gist.github.com/troyfontaine/18c9146295168ee9ca2b30c00bd1b41e
[alias]
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
[user "github"]
	email = martin.louis.bright@autodesk.com
	name = Martin-Louis Bright
	signingkey = D0A9B865D54E36DB
[gpg]
	program = /usr/local/bin/gpg
[alias]
    # https://snyk.io/blog/10-git-aliases-for-faster-and-productive-git-workflow/
    s = status
    co = checkout
    cob = checkout -b
    del = branch -D    
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    save = !git add -A && git commit -m 'chore: savepoint'
    undo = reset HEAD~1 --mixed
    res = !git reset --hard
    done = !git push origin HEAD
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
    graph = !git log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[commit]
	gpgsign = false
